#top-navbar {
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0;
    left: 0;
}

#top-navbar h1:hover {
    opacity: 1
  } 

#top-navbar {
    display: flex;
    flex-direction: row;
    background: #dd0d0d;
    color: white;
}

#top-navbar h1 {
    cursor: pointer;
    margin-left: 60px;
    margin-top: 30px;
    opacity: 0.8;
}

a:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: white;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: white;
    background-color: transparent;
    text-decoration: none;
}
a:active {
    color: white;
    background-color: transparent;
    text-decoration: none;
}

#bottom-navbar {
    position: fixed;
    width: 100%;
    z-index: 1;
    bottom: 0;
    left: 0;
}

#bottom-navbar {
    display: flex;
    flex-direction: row;
    background: rgb(13, 13, 14);
    color: #9B9797;
}

#bottom-navbar h1 {
    cursor: pointer;
    margin-left: 60px;
    margin-top: 30px;
    opacity: 0.8;
}



#bottom-navbar h1:hover {
    opacity: 1
  } 
  #manager-header {
     position: relative;
     top: 110px;
     width: 200px;
     font-size: 0;
  }
  #clicker {
      position: relative;
      top: 175px;
  }


  .manager-prof {
      width: 100px;
      height: 100px;
      border-radius: 10px;
  }

  #overall{
      background: url("assets/images/wood.png");
      margin: 0;
      padding: 0;
  }

  #playerList {
      font-size: 0;
      width: 417px;
      margin: 0 auto;
  }

  #playerList .item {
    width: 125px;
    height: 125px;
    margin: 4px;
    border: 3px solid transparent;
    display: inline-block;
    border-radius: 10px;
    opacity: 0.75;
  }

  #playerList .item:hover{
      border-color: black;
      opacity: 1;
      cursor: pointer;
  }


   #playerList img {
       border-radius: 6px;
   }






